.doctor-comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: #FFFFFF;
  border-radius: 12px;
  margin-top: 1.5rem;
}

.doctorAvatar1 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.comment-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.comment-textarea {
  width: 80%;
  padding: 1.2rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  resize: none;
  background-color: white;
  min-height: 250px;
}

.comment-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 50%;
  margin-bottom: 9rem;
}

.cancel-btn,
.submit-btn {
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.cancel-btn {
  background-color: white;
  border: 1px solid #333;
  color: #333;
}

.submit-btn {
  background-color: #1c2b4b;
  color: white;
}
