/* Base Layout */
* {
  font-family: 'Poppins', sans-serif;
}

.dashboard {
  display: flex;
  height: 95vh; /* Full screen height */
  overflow: hidden;
  padding: 0.75rem;


}
.top-section1 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
  margin: 0;                 /* ✅ remove margin */
  display: inline-block;     /* ✅ ensure inline behavior */
}
.top1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.bar-icon{
   font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Active (selected) link */
.nav-active {
  background: #bfcbe6;
  color: #2563EB;
  padding: 0.75rem;
  border-radius: 0.75rem;
  font-weight: 500;
  font-size: 20px;
text-decoration: none;

}

/* Hover effect ONLY for non-active links */
.nav-link:hover {
  background-color: #bfcbe6;
  color: #2563EB;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 0.75rem;
  padding: 0.75rem;
}

/* Normal link style */
.nav-link {
  color: black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  border: none;
  text-align: left;
  text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}



.main {
  flex: 1;
  padding: 0.3rem 2rem 2rem 2rem;
    background-color: #F4F4F4;
 
  overflow-y: auto;
}
.sidebar {
  width: 15%;
  background-color: white;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 8px 0 24px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
   position: sticky;
  top: 0;
  overflow-y: auto;
   
}
